.stickyHeader {
  position: sticky;
  display: block;
  top: 0;
  background-color: #0b0c10;
  margin: auto;
  padding: 10px;
  color: #66fcf1;
  font-size: larger;
  text-align: center;
  z-index: 99;
  border-bottom: 5px solid #c5c6c7;
}


