.articleCard {
  border: solid 1px black;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 30dvw;
  background-color: #43a29e;
  text-align: center;
  color: #0b0c10;
}

.articleCard:hover {
  background-color: #66fcf1;
}

img {
  width: 85%;
  margin: auto;
}



