.commentContainer {
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #43a29e;
  text-align: center;
  color: #0b0c10;
}

.commentContainer::marker {
  content: "";
}

.deleteButton {
  color: #b8fcf8;
  background-color: #1f2833;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  height: 50px;
  border: 1px solid black;
}