* {
  border: solid, 1px, black;
}

.commentContainer {
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #43a29e;
  text-align: center;
  color: #0b0c10;
}

.commentContainer::marker {
  content: "";
}
